pipeline/pl_Copy_All_SQLSERVER_Tables_to_ADLS.json
{
	"name": "pl_Copy_All_SQLSERVER_Tables_to_ADLS",
	"properties": {
		"description": "Copy on-premises SalesLT schema tables into ADLS 'e2e-bronze' container.",
		"activities": [
			{
				"name": "Lookup SQLSERVER Schema Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT \n  s.name as SchemaName\n  ,t.name as TableName\nFROM SYS.TABLES T\nINNER JOIN SYS.schemas S\nON T.schema_id = S.schema_id\nWHERE \nS.name = 'SalesLT'\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLSERVER_all_Tables_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Each Schema table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup SQLSERVER Schema Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup SQLSERVER Schema Tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Each Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@{concat('select * from ',item().SchemaName,'.',item().TableName \r\n)}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQLSERVER_Table_ds",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Output_Tables_csv",
									"type": "DatasetReference",
									"parameters": {
										"p_schemaName": {
											"value": "@item().SchemaName",
											"type": "Expression"
										},
										"p_tableName": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Bronze_2_Silver_Load",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "For Each Each Schema table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/1_E2E_Bronze_2_Silver_Generic_Transformation"
				},
				"linkedServiceName": {
					"referenceName": "e2e_Azure_Databricks_ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Siver_to_Gold_Load",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Bronze_2_Silver_Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/2_E2E_Silver_2_Gold_Transformations"
				},
				"linkedServiceName": {
					"referenceName": "e2e_Azure_Databricks_ls",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-05-07T18:13:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}