pipeline/pl_Load_SQL_Tables_To_ADLS.json
{
	"name": "pl_Load_SQL_Tables_To_ADLS",
	"properties": {
		"description": "Load only the required tables from on-prem SQL tables into ADLSg2",
		"activities": [
			{
				"name": "Confiig_Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from ',variables('configTableName'), ' WHERE LOAD_FLAG = ',variables('loadFlag'))",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Customer_SQL_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Parallel Write to ADLS",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Confiig_Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Confiig_Lookup').output.value",
						"type": "Expression"
					},
					"batchCount": 2,
					"activities": [
						{
							"name": "Parallel Write",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT * FROM ',item().TABLE_SCHEMA,'.',item().TABLE_NAME)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQLSERVER_Table_ds",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_end2endadedl_generic_csv",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "e2e-bronze",
											"type": "Expression"
										},
										"directory": {
											"value": "@item().ADLS_PATH",
											"type": "Expression"
										},
										"filename": {
											"value": "@concat(item().TABLE_NAME,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"configTableName": {
				"type": "String",
				"defaultValue": "DBO.ADLS_LOAD_CONFIG"
			},
			"loadFlag": {
				"type": "String",
				"defaultValue": "1"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-06-20T06:44:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}